.idea
.vscode
cfg/local.toml
coverage.txt
coverage.xml
Makefile.mk
P.md
node_modules
tsconfig.tsbuildinfo
.DS_Store
docs/patches/pgmigrator.toml
frontend/dist/*
!frontend/dist/.gitkeep
frontend/dist-vt/*
!frontend/dist-vt/.gitkeep
